.high {
  @apply px-[1px];
  border-top: 2px solid #fffa;
}

.high + .low {
  border-left: 2px solid #fffa;
}

.low + .high {
  border-left: 2px solid #fffa;
}

.low {
  @apply px-[2px];
  border-bottom: 2px solid #fffa;
}

.empty {
  padding: 0;
}
